<!DOCTYPE html>
<html>
<head>
  <title>dojomusichub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
      <h1><%= flash[:notice] %></h1>
    <% end %>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e| %>
        <p><%= e %></p>
      <% end %>
    <% end %>
    <% if current_user %>
      <form action="/sessions/<%=current_user.id%>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log Out">
      </form>
      <form action="/users/<%=current_user.id%>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="get">
        <input type="submit" value="Profile">
      </form>
      <form action="/songs" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="get">
        <input type="submit" value="Dashboard">
      </form>
    <% end %>
    <% if flash[:authenticated] %>
      <h1><%= flash[:authenticated] %></h1>
    <% end %>
<%= yield %>

</body>
</html>
