<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Secrets</title>
  </head>
  <body>
    <% if !@secrets.empty? %>
      <h1>Secrets</h1>
      <% @secrets.each do |secret| %>
        <div>
          <p><%= secret.content %>
            <%if current_user == secret.user %>
            <%= link_to "Delete", secret_path(secret), :method => :delete %>
            <%end%>
          </p>
          <p><%= secret.likes.where(secret:secret).count %> <%= "like".pluralize( secret.likes.where(secret:secret).count) %>

            <% if !secret.likes.where(user:current_user).exists?%>
            <%= link_to "Like", likes_path(secret), :method => :post %>
            <%else%>
            <%=link_to "Unlike", like_path(secret.likes.find_by(user:current_user, secret:secret).id), :method => :delete %>
            <%end%>

          </p>
          <%= link_to "Back", user_path(current_user) %>
        </div>
      <%end%>
    <%else%>
      <h1>No Secrets to display</h1>
    <%end%>
  </body>
</html>
